.main {
    width: 59.5%;
    float: left;
    padding: 0.25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.posts{
    width: 80%;   
}

.post{
    background-color: #D9F9A5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 10px;
    border-radius: 10px;
}

p{
    margin: 0px;
}

p.name{
    font-weight: bold;
    font-size: 18px;
}

p.time{
    color: gray;
}

p.content{
    font-size: 20px;
}

input#newpost{
    margin-top: 5px;
    border-radius: 10px;
    border-width: 1px;
    width: 95%;
    height: 100px;
    margin: 10px;
}

button#newpost{
    border-radius: 10px;
    border-width: 0px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #70A4B1;
    font-weight: bolder;
    font-size: 18px;
    height: 40px;
}

div#newpost{
    display: flex;
    justify-content: center;
    align-items: center;
}